[submodule "spring5-di-concepts"]
	path = spring5-di-concepts
	url = https://github.com/nitinkc/spring5-di-concepts
[submodule "spring-data-jpa"]
	path = spring-data-jpa
	
	url = https://github.com/nitinkc/spring-data-jpa.git

[submodule "springboot-thymeleaf-pet-clinic"]
	
	path = springboot-thymeleaf-pet-clinic
	
	url = https://github.com/nitinkc/springboot-thymeleaf-pet-clinic
