[submodule "spring5-di-concepts"]
	path = spring5-di-concepts
	url = https://github.com/nitinkc/spring5-di-concepts
[submodule "springboot-thymeleaf-pet-clinic"]
	path = springboot-thymeleaf-pet-clinic
	url = https://github.com/nitinkc/springboot-thymeleaf-pet-clinic
[submodule "spring-data-jpa-hibernate"]
	path = spring-data-jpa-hibernate
	url = https://github.com/nitinkc/spring-data-jpa-hibernate.git
[submodule "recepie-spring-data"]
	path = recepie-spring-data
	url = https://github.com/nitinkc/recepie-spring-data.git
[submodule "messenger-spring-boot"]
	path = messenger-spring-boot
	url = https://github.com/nitinkc/messenger-spring-boot.git
[submodule "springboot-hibernate"]
	path = springboot-hibernate
	url = https://github.com/nitinkc/springboot-hibernate.git
[submodule "Spring-Transactions"]
	path = Spring-Transactions
	url = https://github.com/nitinkc/Spring-Transactions.git
[submodule "Spring-Batch"]
	path = Spring-Batch
	url = https://github.com/nitinkc/Spring-Batch.git
[submodule "spring-properties-and-build"]
	path = spring-properties-and-build
	url = https://github.com/nitinkc/spring-properties-and-build.git
[submodule "spring-security"]
	path = spring-security
	url = https://github.com/nitinkc/spring-security.git
[submodule "spring-non-web-datafix"]
	path = spring-non-web-datafix
	url = https://github.com/nitinkc/spring-non-web-datafix.git
[submodule "liquibase-with-sprintBoot"]
	path = liquibase-with-sprintBoot
	url = https://github.com/nitinkc/liquibase-with-sprintBoot.git
[submodule "Mockito-Junit-Learning"]
	path = Mockito-Junit-Learning
	url = https://github.com/nitinkc/Mockito-Junit-Learning.git
[submodule "springboot-spanner-db"]
	path = springboot-spanner-db
	url = https://github.com/nitinkc/springboot-spanner-db.git
[submodule "SpringBoot-GlobalExceptionHandling"]
	path = SpringBoot-GlobalExceptionHandling
	url = https://github.com/nitinkc/SpringBoot-GlobalExceptionHandling.git
[submodule "spring-HTTPClients-4-remoteServices"]
	path = spring-HTTPClients-4-remoteServices
	url = https://github.com/nitinkc/spring-HTTPClients-4-remoteServices.git
[submodule "kafka-consumer"]
	path = kafka-consumer
	url = https://github.com/nitinkc/kafka-consumer.git
[submodule "kafka-producer"]
	path = kafka-producer
	url = https://github.com/nitinkc/kafka-producer.git
[submodule "SpringBoot-reference"]
	path = SpringBoot-reference
	url = https://github.com/nitinkc/SpringBoot-reference.git
